@tailwind base;
@tailwind components;
@tailwind utilities;
/* line 4, ../GitHub/aems/client/styles/scss/globals.scss */
.aptiv-primary {
  color: #f84018;
}

/* line 7, ../GitHub/aems/client/styles/scss/globals.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 12, ../GitHub/aems/client/styles/scss/globals.scss */
.login-link {
  text-align: center;
  border-bottom: 2px solid transparent;
}

/* line 17, ../GitHub/aems/client/styles/scss/globals.scss */
.orange-dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #f84018;
  border-radius: 50%;
}

/* line 24, ../GitHub/aems/client/styles/scss/globals.scss */
#login-container,
#new-item-container,
#new-category-container {
  background-color: #222;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100vw;
}

/* line 36, ../GitHub/aems/client/styles/scss/globals.scss */
#category-index {
  min-height: 100vh;
}

/* line 41, ../GitHub/aems/client/styles/scss/globals.scss */
#nav-padding {
  height: 15vh;
}

/* line 44, ../GitHub/aems/client/styles/scss/globals.scss */
#navbar {
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 15vh;
  z-index: 5;
  position: absolute;
  top: 0;
}

/* line 57, ../GitHub/aems/client/styles/scss/globals.scss */
#navbar #nav-drop-down {
  position: absolute;
  top: 80px;
  background-color: black;
  z-index: 10;
  width: 100vw;
  height: calc(100vh - 80px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4vh;
}

/* line 70, ../GitHub/aems/client/styles/scss/globals.scss */
#navbar .nav-link {
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 200ms;
  border-bottom: 2px solid transparent;
  letter-spacing: 1px;
}

/* line 78, ../GitHub/aems/client/styles/scss/globals.scss */
#navbar .nav-link:hover {
  border-bottom: 2px solid #f84018;
}

/* line 81, ../GitHub/aems/client/styles/scss/globals.scss */
#navbar #nav-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  width: 80vw;
}

/* line 90, ../GitHub/aems/client/styles/scss/globals.scss */
#navbar #nav-container #nav-logo {
  letter-spacing: 0.1rem;
  color: white;
  margin-left: 5vw;
  transition-duration: 300ms;
  gap: 0.25rem;
}

/* line 98, ../GitHub/aems/client/styles/scss/globals.scss */
#navbar #nav-container #nav-logo:hover {
  letter-spacing: 0.3rem;
  gap: 0.5rem;
}

/* line 102, ../GitHub/aems/client/styles/scss/globals.scss */
#navbar #nav-container #nav-logged-in-desktop {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

/* line 109, ../GitHub/aems/client/styles/scss/globals.scss */
#navbar #nav-container #nav-logged-out {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

/* line 119, ../GitHub/aems/client/styles/scss/globals.scss */
.page-container {
  background-color: #222;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100vw;
}

@media (max-width: 500px) {
  /* line 131, ../GitHub/aems/client/styles/scss/globals.scss */
  #new-item-container form {
    min-width: 80vw;
  }
}

/* line 136, ../GitHub/aems/client/styles/scss/globals.scss */
#ham-container {
  display: none;
  cursor: pointer;
  margin-right: 5vw;
}

/* line 142, ../GitHub/aems/client/styles/scss/globals.scss */
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
/* line 153, ../GitHub/aems/client/styles/scss/globals.scss */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
/* line 159, ../GitHub/aems/client/styles/scss/globals.scss */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
/* line 164, ../GitHub/aems/client/styles/scss/globals.scss */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media (max-width: 1400px) {
  /* line 170, ../GitHub/aems/client/styles/scss/globals.scss */
  #nav-padding {
    height: 80px;
  }
  /* line 173, ../GitHub/aems/client/styles/scss/globals.scss */
  #navbar {
    height: 80px;
  }
  /* line 176, ../GitHub/aems/client/styles/scss/globals.scss */
  #navbar #nav-container {
    width: 100vw;
  }
  /* line 178, ../GitHub/aems/client/styles/scss/globals.scss */
  #navbar #nav-container #nav-logged-out {
    margin-right: 30px;
  }
  /* line 181, ../GitHub/aems/client/styles/scss/globals.scss */
  #navbar #nav-container #nav-logged-in-desktop {
    display: none;
  }
  /* line 184, ../GitHub/aems/client/styles/scss/globals.scss */
  #navbar #nav-container #ham-container {
    display: inline-block;
  }
}

/*# sourceMappingURL=globals.css.map */