@tailwind base;
@tailwind components;
@tailwind utilities;
/* line 4, ../GitHub/aems/client/styles/scss/globals.scss */
.aptiv-primary {
  color: #f84018;
}

/* line 7, ../GitHub/aems/client/styles/scss/globals.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 12, ../GitHub/aems/client/styles/scss/globals.scss */
.orange-dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #f84018;
  border-radius: 50%;
}

/* line 19, ../GitHub/aems/client/styles/scss/globals.scss */
#new-item-container {
  border: 3px solid red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

/* line 26, ../GitHub/aems/client/styles/scss/globals.scss */
#new-item-container form {
  border: 3px solid red;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 25px;
  min-width: 400px;
}

/* line 36, ../GitHub/aems/client/styles/scss/globals.scss */
#category-index {
  border: 3px solid red;
  min-height: 100vh;
  padding: 10px;
}

/* line 41, ../GitHub/aems/client/styles/scss/globals.scss */
#navbar {
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 15vh;
}

/* line 50, ../GitHub/aems/client/styles/scss/globals.scss */
#navbar .nav-link {
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 200ms;
  border-bottom: 2px solid transparent;
  letter-spacing: 1px;
}

/* line 58, ../GitHub/aems/client/styles/scss/globals.scss */
#navbar .nav-link:hover {
  border-bottom: 2px solid #f84018;
}

/* line 61, ../GitHub/aems/client/styles/scss/globals.scss */
#navbar #nav-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  width: 80vw;
}

/* line 70, ../GitHub/aems/client/styles/scss/globals.scss */
#navbar #nav-container #nav-logo {
  color: white;
  margin-left: 5vw;
}

/* line 75, ../GitHub/aems/client/styles/scss/globals.scss */
#navbar #nav-container #nav-logged-in-desktop {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

/* line 82, ../GitHub/aems/client/styles/scss/globals.scss */
#navbar #nav-container #nav-logged-out {
  border: 3px solid blue;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

/* line 92, ../GitHub/aems/client/styles/scss/globals.scss */
.page-container {
  max-width: 100vw;
  min-height: 100vh;
}

@media (max-width: 500px) {
  /* line 100, ../GitHub/aems/client/styles/scss/globals.scss */
  #new-item-container form {
    min-width: 80vw;
  }
}

/* line 105, ../GitHub/aems/client/styles/scss/globals.scss */
#ham-container {
  display: none;
  cursor: pointer;
  margin-right: 5vw;
}

/* line 111, ../GitHub/aems/client/styles/scss/globals.scss */
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
/* line 122, ../GitHub/aems/client/styles/scss/globals.scss */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
/* line 128, ../GitHub/aems/client/styles/scss/globals.scss */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
/* line 133, ../GitHub/aems/client/styles/scss/globals.scss */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media (max-width: 1400px) {
  /* line 139, ../GitHub/aems/client/styles/scss/globals.scss */
  #navbar {
    height: auto;
    padding: 1rem;
  }
  /* line 142, ../GitHub/aems/client/styles/scss/globals.scss */
  #navbar #nav-container {
    width: 100vw;
  }
  /* line 144, ../GitHub/aems/client/styles/scss/globals.scss */
  #navbar #nav-container #nav-logged-in-desktop {
    display: none;
  }
  /* line 147, ../GitHub/aems/client/styles/scss/globals.scss */
  #navbar #nav-container #ham-container {
    display: inline-block;
  }
}

/*# sourceMappingURL=globals.css.map */