@tailwind base;
@tailwind components;
@tailwind utilities;
/* line 4, ../GitHub/aems/client/styles/scss/globals.scss */
.aptiv-primary {
  color: #f84018;
}

/* line 7, ../GitHub/aems/client/styles/scss/globals.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 12, ../GitHub/aems/client/styles/scss/globals.scss */
.login-link {
  text-align: center;
  border-bottom: 2px solid transparent;
}

/* line 17, ../GitHub/aems/client/styles/scss/globals.scss */
.orange-dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #f84018;
  border-radius: 50%;
}

/* line 24, ../GitHub/aems/client/styles/scss/globals.scss */
#login-container,
#new-item-container,
#new-category-container {
  background-color: #222;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100vw;
}

/* line 35, ../GitHub/aems/client/styles/scss/globals.scss */
.bg-darkgray {
  background-color: #222;
}

/* line 38, ../GitHub/aems/client/styles/scss/globals.scss */
#items-all-container {
  background-color: #fff;
  max-width: 100vw;
}

/* line 43, ../GitHub/aems/client/styles/scss/globals.scss */
#items-all-container #items-jsx-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 2rem;
  background-color: #222;
  margin: 0;
}

/* line 57, ../GitHub/aems/client/styles/scss/globals.scss */
#items-all-container #items-jsx-container .item-card-container {
  margin: 0px;
}

/* line 65, ../GitHub/aems/client/styles/scss/globals.scss */
#category-index {
  min-height: 100vh;
}

/* line 70, ../GitHub/aems/client/styles/scss/globals.scss */
#nav-padding {
  height: calc(15vh);
}

/* line 74, ../GitHub/aems/client/styles/scss/globals.scss */
.nav-container {
  position: relative;
}

/* line 79, ../GitHub/aems/client/styles/scss/globals.scss */
.max-w-screen {
  max-width: 100vw;
}

/* line 82, ../GitHub/aems/client/styles/scss/globals.scss */
.user-msg {
  max-width: 375px;
  font-size: 1.1em;
  position: absolute;
  bottom: 0;
}

/* line 89, ../GitHub/aems/client/styles/scss/globals.scss */
#navbar {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 15vh;
  z-index: 5;
  position: absolute;
}

/* line 101, ../GitHub/aems/client/styles/scss/globals.scss */
#navbar #nav-drop-down {
  position: absolute;
  top: 90px;
  background-color: black;
  z-index: 10;
  width: 100vw;
  height: calc(100vh - 80px);
  flex-direction: column;
  align-items: center;
  gap: 4vh;
}

/* line 114, ../GitHub/aems/client/styles/scss/globals.scss */
#navbar .nav-link {
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 200ms;
  border-bottom: 4px solid transparent;
  letter-spacing: 1px;
}

/* line 122, ../GitHub/aems/client/styles/scss/globals.scss */
#navbar .menu-hover {
  border-bottom: 4px solid #f84018;
}

/* line 125, ../GitHub/aems/client/styles/scss/globals.scss */
#navbar .accBorder {
  border-bottom: 1px solid #6c757d;
}

/* line 129, ../GitHub/aems/client/styles/scss/globals.scss */
#navbar #nav-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  width: 80vw;
}

/* line 138, ../GitHub/aems/client/styles/scss/globals.scss */
#navbar #nav-container #nav-logo {
  letter-spacing: 0.1rem;
  color: white;
  margin-left: 5vw;
  transition-duration: 300ms;
  gap: 0.25rem;
}

/* line 147, ../GitHub/aems/client/styles/scss/globals.scss */
#navbar #nav-container #nav-logo:hover {
  letter-spacing: 0.3rem;
  gap: 0.5rem;
}

/* line 151, ../GitHub/aems/client/styles/scss/globals.scss */
#navbar #nav-container #nav-logged-in-desktop {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

/* line 158, ../GitHub/aems/client/styles/scss/globals.scss */
#navbar #nav-container #nav-logged-out {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 13px;
}

/* line 168, ../GitHub/aems/client/styles/scss/globals.scss */
.ml-5vw {
  margin-left: 4vw;
}

/* line 171, ../GitHub/aems/client/styles/scss/globals.scss */
.page-container {
  background-color: #6c757d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
}

@media (max-width: 500px) {
  /* line 183, ../GitHub/aems/client/styles/scss/globals.scss */
  #new-item-container form {
    min-width: 80vw;
  }
}

/* line 188, ../GitHub/aems/client/styles/scss/globals.scss */
#ham-container {
  display: none;
  cursor: pointer;
  margin-right: 5vw;
}

/* line 194, ../GitHub/aems/client/styles/scss/globals.scss */
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
/* line 205, ../GitHub/aems/client/styles/scss/globals.scss */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
/* line 211, ../GitHub/aems/client/styles/scss/globals.scss */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
/* line 216, ../GitHub/aems/client/styles/scss/globals.scss */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* line 220, ../GitHub/aems/client/styles/scss/globals.scss */
.instance-note {
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0 00px;
}

/* line 225, ../GitHub/aems/client/styles/scss/globals.scss */
.instance-note p {
  color: blue;
}

/* line 228, ../GitHub/aems/client/styles/scss/globals.scss */
.instance-note .delete-icon {
  color: #ad1111;
}

/* line 235, ../GitHub/aems/client/styles/scss/globals.scss */
.instance-note:hover .delete-icon {
  cursor: pointer;
}

@media (max-width: 800px) {
  /* line 242, ../GitHub/aems/client/styles/scss/globals.scss */
  #nav-padding {
    height: 90px;
  }
  /* line 245, ../GitHub/aems/client/styles/scss/globals.scss */
  #navbar {
    height: 90px;
  }
  /* line 248, ../GitHub/aems/client/styles/scss/globals.scss */
  #navbar #nav-container {
    width: 100vw;
    padding-bottom: 1rem;
  }
  /* line 251, ../GitHub/aems/client/styles/scss/globals.scss */
  #navbar #nav-container #nav-logged-out {
    margin-right: 30px;
  }
  /* line 254, ../GitHub/aems/client/styles/scss/globals.scss */
  #navbar #nav-container #nav-logged-in-desktop {
    display: none;
  }
  /* line 257, ../GitHub/aems/client/styles/scss/globals.scss */
  #navbar #nav-container #ham-container {
    display: inline-block;
  }
}

/*# sourceMappingURL=globals.css.map */